
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"/>
        <title>Omega Bank – Create New Account</title>
    </head>
    <body>
        <h2>Create a New Account</h2>
        <hr />
        <h3>{{ title }}</h3>
        <p>{{ error }}</p>
        <form action="{% url 'bank_app:create_account' %}" method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form }}
                <button>Create Account</button>
            </fieldset>
        </form>
        <a href="{% url 'bank_app:customer_portal' %}"><button>Go back to Overview</button></a>
    </body>
</html>
