{% extends "base.html" %}

{% block main %}
<div>
    <li><a href="{% url 'bank_app:make_transfer' %}">Transfer between own accounts</a></li>
    <li><a href="#">Transfer internally</a></li>
    <li><a href="{% url 'bank_app:bank_to_bank_transfer' %}">Transfer to other bank</a></li>
</div>

<form action="{% url 'bank_app:internal_transfer' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form }}
        <button>Transfer</button>
    </fieldset>
</form>
{% endblock main %}

