{% extends "base.html" %}

{% block main %}
<div>
    <li><a href="#">Transfer between own accounts</a></li>
    <li><a href="{% url 'bank_app:internal_transfer' %}">Transfer internally</a></li>
    <li><a href="{% url 'bank_app:bank_to_bank_transfer' %}">Transfer to other bank</a></li>
</div>

<h2>Transfer money between your own accounts</h2>
<form action="{% url 'bank_app:make_transfer' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form }}
    <button>Transfer</button>
    </fieldset>
{% endblock main %}
