{% extends "base.html" %}

{% block main %}
<h3>Approve loans</h3>
{% for loan in loans %}
    {% if not loan.approved and not loan.declined %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ loan }}
        {{ loan.user }}
        {{ loan.pk }}
        <a href={% url 'bank_app:approve' loan.pk %}>Approve</a>
        <a href={% url 'bank_app:decline' loan.pk%}>Decline</a>
    </form>
    {% endif %}
{% endfor %}
{% endblock main %}
