{% extends "base.html" %}

{% block main %}
<table>
	<tr>
		<th>First and lastname</th>
		<td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
	</tr>
	<tr>
		<th>Member since</th>
		<td>{{ user.user.date_joined }}</td>
	</tr>
	<tr>
		<th>Phone</th>
		<td>{{ user.phone }}</td>
	</tr>
	<tr>
		<th>Email</th>
		<td>{{ user.user.email }}</td>
	</tr>
	<tr>
		<th>Rank</th>
		<td>
			<select name="rank_value" hx-target="body" hx-patch="{% url 'bank_app:staff_customer_view' user.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token}}"}'>
				{% for rank in ranks %}
				{% if rank.name == user.rank.name %}
				<option value="{{ rank }}" selected>{{ rank.name }}</option>
				{% else %}
				<option value="{{ rank }}">{{ rank.name }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<th>Is active</th>
		<td>
			<select name="active_value" hx-target="body" hx-patch="{% url 'bank_app:staff_customer_view' user.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
				<option value="{{ user.isActive }}">{{ user.isActive }}</option>
				{% if user.isActive == True %}
				<option value="False">False</option>
				{% else %}
				<option value="True">True</option>
				{% endif %}
			</select>
		</td>
	</tr>
</table>
<h3>Customer accounts</h3>
<a href="{% url 'bank_app:create_account' %}"><button>Create New Account</button></a>
<table>
	{% for account in accounts %}
	<tr>
		<th>{{ account.accountName }}</th>
		<td>{{ account.accountNumber }}</td>
		<td>$ {{ account.balance }}</td>
		<td>
			<select name="remove_account_{{ account.pk }}" hx-target="body" hx-confirm="Are you sure you want to make this account inactive?" hx-patch="{% url 'bank_app:staff_customer_view' user.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
				<option selected>Active</option>
				<option value="{{ account.pk }}">Inactive</option>
			</select>
		</td>
	</tr>
	{% endfor %}
</table>
<h3>Customer loans</h3>
<table>
	{% for loan in loans %}
	<tr>
		<th>{{ loan.accountName }}</th>
		<td>{{ loan.accountNumber }}</td>
		<td>$ {{ loan.balance }}</td>
		<td>
			<select name="remove_account_{{ loan.pk }}" hx-target="body" hx-patch="{% url 'bank_app:staff_customer_view' user.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
				<option selected>Active</option>
				<option value="{{ loan.pk }}">Inactive</option>
			</select>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock main %}
