{% extends "base.html" %}

{% block main %}
<form action="{% url 'bank_app:take_loan' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form }}
        <button>Apply for loan</button>
    </fieldset>
{% endblock main %}
